@import '../Variables//Variables';

.slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // max-width: 90%;
}

.image{
    padding-top: 19vh;
    margin:auto;
    width: 82.5vw;
    height: 70vh;
    filter: brightness(60%);
    border-radius: 10px;
}

.right-arrow{
    top: 50%;
    @include arrows(#000);
    right: 2vw;
}

.left-arrow{
    top: 50%;
    @include arrows(#000);
    left: 2vw;
}

.slide{
    opacity: 0;
    // transition-duration: .5s ;
}

.slide.active{
    opacity: 1;
 //maybe keep these transition duration?
    // transition-duration: 4s;
    transform: scale(1.08);
}