@import '../Variables//Variables';



.homepage-container{
    max-width: 100%;
    margin: 0 auto;
    .sustain{
        margin: 0 auto;
        width: 90%;
        text-align: center;

    }
    .figure-div{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        padding: 2vh 0;
    }
    
    
    .figure-container{
        margin: 0 auto;
        img{
            width: 20vw;
            height: 40vh;
            min-width: 240px;
            }
        figcaption{
            padding: .5vh 0;
        }
    }

}
.review-heading{
    margin: 8vh 0;
    padding-bottom: 5vh;
    width: 100%;
    background-color: $reviewColor;
    color: $dropBackground;
    h4{
        text-align: center;
        font-size: 1.5rem;
        background-color: $reviewColor;
        padding-top: 5vh;
    }
    hr{
        width: 10%;
    }
}
.review-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .ratings-container{
        list-style: none;
        padding-bottom: 1vh;
    }
    .review-list{
        list-style: none;
        margin: auto;
        text-align: center;
        :nth-child(3){
            padding: 2vh;
        }
        :first-child{
            text-align: left;
        }
        .title-hr{
            height: 0vh;
            padding: 0vh;
            width: 85%;
        }
        li{
            padding: 0 2vw;
            width: 23vw;
            margin: auto;
        }
        
    }
}

.review-left-arrow{
    @include arrows(#fff);
    margin: 3% 0 0 4%;
}
.review-right-arrow{
 @include arrows(#fff);
 margin: 3% 0 0 96%;
}

