.star_container{
    list-style: none;
    display: flex;
    max-width: fit-content;
    margin: 0 auto;
    vertical-align: middle;
        img{
            width: 1vw;
        }
        
    
}


.stars{

    text-align: center;
    justify-content: center;
}

