// background color variable white
$dropHover: #F2F2F2;
$dropBackground: #ffff;
$navBackgroundColor:  #F2F2F2;

@mixin centering($color){
    text-align: center;
    background-color: $color;
}

@mixin dropDown{
    position: relative;
    display: inline-block;
    
}

@mixin dropDownContent{
    display: none;
    position: absolute;
    background-color: $dropBackground;
    width: 60%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a{
        color: rgb(0, 0, 0);
        padding: 2% 0;
        text-decoration: none;
        display: block;
        width: 100%;
        cursor: pointer;
    }
}

@mixin iconDrop {
    display: none;
    position: absolute;
    background-color: $dropBackground;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 10vw;
    height: 10vw;
    
    a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        display: block;
        width: 100%;
        cursor: pointer;
    }
}

@mixin iconSize{
    display: flex;
    margin: auto;
    img{
        max-width: 2vw;
        // padding-left: 2vw;

    }
}

@mixin hoverNav{
    :hover{
        font-weight: bold;
        background-color: #F2F2F2;
    }
}
//Mixin for the mens and womens collections should all be the same


//Men and women need their own mixed for their drop down menus with margin as a parameter and then text-align center 

@mixin categories($margin){
    margin: $margin;
}