@import '../Variables/Variables';

.top-container{
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #ffff;
}

nav{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
   
}

span{
font-size: 16px;
}

.top-title{
    width: 90%;
    margin: auto;
   h2{
        @include centering(none);
   }
   p{
        @include centering(#6B8F71);
        padding: 1vh;
        color: #ffff;
   }
}

.shipping{
    @include dropDown;
        flex: 4;
        .shipping-content{
            @include dropDownContent;
            max-width: 10vw;
            img{
                max-width: 12%;
                padding: 0 12% 0 5%;
            }
                a:hover{
                background-color: $dropHover;
            }
        }
        .shipping-txt{
            width: fit-content;
    
        }
}

//All Hover Displays
.shipping-txt:hover .shipping-content,
 .men-txt:hover .men-content, 
 .women-txt:hover .women-content,
 .account-img:hover .account-content,
 .cart-img:hover .cart-content{
    display: block;
}


.shipping-content a:hover, 
.men-txt a:hover, 
.women-content a:hover,
.cart-content a:hover
{
    background-color: $dropHover;
}


//Men's Section
.men, .women{
    @include dropDown;
    flex: 2;
    // text-align: center;
    .men-content, .women-content{
        @include dropDownContent;


//THIS IS THE PROBLEM
        // margin-top: 2.5vh;
        max-width: 30vw;
        // height: 15vw;
    }
    .men-txt, .women-txt{
        width: fit-content;
    }
}



//Account
.account{
    @include iconSize;
    @include dropDown;
    .account-content{
        @include iconDrop;
        text-align: center;
        width: 12vw;
        
    .account-title{
        margin: 2vh 0;
        background-color: orange;
    }
    button{
        width: 100%;
        margin: 1vh 0;
        
        padding:1vh;
    }

}
}


//Search
.search{
    position: relative;
            @include iconSize;
      
    
}



// Add JS on click to search bar

.search-img:active .search-content{
    display: block;
}



//Cart

.cart{
    @include iconSize;
    @include dropDown;
    .cart-content{
        @include iconDrop;
        margin-left: -5vw;
        button{
            width: 100%;
        }
    }    
}


.account, .cart, .search{
    flex: .5;
}
.account-img, .cart-img{
    width: 2vw;
}

//on click display flex
.search-content{
    display: none;
    // display:flex;
    position: absolute;
    width: 90%;
    margin-top: 4.5vh;
    z-index: 1;
    button{
        width: fit-content;
        img{
            max-width: 1.5vw;
        }
    }
    input{
        
        // text-decoration: none;
        display: block;
        width: 100%;
    cursor: pointer;
}
}
