@import '../Variables/Variables';

.top-container{
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: $dropBackground;
    max-height: 100%;
    transition: max-height 24s ease-out;
}

.top-container-active{
    position: relative;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: $dropBackground;
    max-height: 16%;
    transition: max-height 10% 6s ease-in;
}

nav{
    display: flex;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    background-color: $navBackgroundColor;
   margin-bottom: 1vh;
   align-items: center;
}

span{
font-size: 16px;
}

.top-title{
    width: 100%;
    margin: auto;
   h2{
        @include centering(none);
   }
   p{
        @include centering(#758070);
        padding: 1vh;
        color: #ffff;
   }
}

.shipping{
    @include dropDown;
        flex: 4;
        .shipping-content{
            @include categories(2.3vh 0 0 -3%);
            @include dropDownContent;
            margin-top: 1vh;
            max-width: 10vw;
            img{
                max-width: 12%;
                padding: 0 12% 0 5%;
            }
                a:hover{
                background-color: $dropHover;
            }
        }
        .shipping-txt{
            width: fit-content;
            padding: 3%;
        }
}

//All Hover Displays
.shipping-txt:hover .shipping-content,
 .men-txt:hover .men-content, 
 .women-txt:hover .women-content,
 .account-img:hover .account-content,
 .cart-img:hover .cart-content{
    display: block;
}


.shipping-content a:hover, 
.men-txt a:hover, 
.women-content a:hover,
.cart-content a:hover
{
    background-color: $dropHover;
}


//Men's Section
.men, .women{
    @include dropDown;
    
    
    flex: 2;
    // text-align: center;
    .men-content, .women-content{
        @include dropDownContent;
        text-align: center;
        max-width: 30vw;
        :hover{
            font-weight: bold;
            background-color: $dropHover;
        }
    }
    .men-txt, .women-txt{
        width: fit-content;
        padding: 6%;
    }
}



//Account
.account{
    @include iconSize;
    @include dropDown;
    .account-content{
        @include iconDrop;
        @include categories(.5vh 0 0 -5.3vw);
        text-align: center;
        width: 12vw;
        
    .account-title{
        margin: 2vh 0;
    }
    button{
        width: 100%;
        margin: 1vh 0;
        
        padding:1vh;
    }

}
}


//Search
.search{
    position: relative;
            @include iconSize;
      
    
}


// Add JS on click to search bar

.search-img:active .search-content{
    display: block;
}



//Cart

.cart{
    @include iconSize;
    @include dropDown;
    .cart-content{
        @include categories(.5vh 0 0 -5.3vw);
        @include iconDrop;
        button{
            width: 100%;
        }
    }    
}


.account, .cart, .search{
    flex: .5;
    height: 6vh;

    align-items: center;
    
}
.account-img, .cart-img{
    margin-top: .9vh;
    width: 2vw;
    height: 5vh;
    align-items: center;
}

//on click display flex
.search-content{
    display: none;
    // display:flex;
    position: absolute;
    width: 90%;
    margin-top: 4.5vh;
    z-index: 1;
    button{
        width: fit-content;
        img{
            max-width: 1.5vw;
        }
    }
    input{
        
        // text-decoration: none;
        display: block;
        width: 100%;
    cursor: pointer;
}
}


//Sliding Top Element Key Frames and Implementation

.banner{
    animation: bannerSlideDown 1.2s ease-in-out forwards; 
}

.banner-active{
    animation: bannerSlideUp 1s ease-in-out forwards; 
}

@keyframes bannerSlideUp {
    100%{
        transform: translateY(-6vh);
    }
} 
@keyframes bannerSlideDown {
    0%{
        transform: translateY(-6vh);
    }
    100%{
        transform: translateY(0vh);
    }
} 


//Sliding Bottom Element Key Frames and Implementation

.nav{
    animation: navSlideDown 1.2s ease-in-out forwards; 
}

.nav-active{
    animation: navSlideUp 1s ease-in-out forwards; 
}

@keyframes navSlideUp {
    0%{
        transform: translateY(0vh);
    }
    100%{
        transform: translateY(-7.8vh);
    }
  } 

@keyframes navSlideDown {
    0%{
        transform: translateY(-7.8vh);
    }
    100%{
        transform: translateY(0vh);
    }
  } 


.men-txt:hover, .women-txt:hover{
        font-weight: bold;
        background-color: #ffffff;
}

.men-content{
    @include categories(2.2vh 0 0 -20%);
}

.women-content{
    @include categories(2.2vh 0 0 -16.5%);
}

